---
layout: layouts/page.njk
title: How I Can Help
permalink: /how-i-help/
---
<div class="wrapper">
  <h1>How I Can Help</h1>
</div>
<section class="services-grid wrapper">
  {% for service in services.list %}
  <div class="service-card">
    {% if service.icon %}<img src="{{ service.icon }}" alt="" class="service-card__icon">{% endif %}
    <h3>{{ service.title }}</h3>
    <p>{{ service.description | safe }}</p>
  </div>
  {% endfor %}
</section>
